<section data-ng-controller="DoingCtrl" data-ng-init="find()">
    <form
        class="form-inline"
        role="form"
        data-ng-submit="filter()">

      <div class="form-group">
        <input 
            placeholder="since"
            data-ng-model="fromDate"
            type="text"
            class="form-control"
            datepicker-popup="M/d/yyyy"
            show-weeks="false"
            show-button-bar="false" />
      </div>
      
      <div class="form-group">
        <timepicker
            data-ng-model="fromDate"
            meridians="['am', 'pm']"
            ></timepicker>
      </div>
      
      <button type="submit" class="btn btn-default">filter</button>
    </form>

    <form
        name="form"
        class="form-inline"
        role="form"
        novalidate
        data-ng-submit="create()">

        <div class="form-group">
            <input
                type="text"
                ng-model="taskDescription"
                placeholder="new task"
                class="form-control"
                required />
        </div>

        <div class="form-group">
            <select
                class="form-control"
                ng-model="taskCategory"
                ng-options="category for category in categories">
            </select>
        </div>
      
        <button type="submit" class="btn btn-default" data-ng-disabled="form.$invalid">create</button>
    </form>

	<ul class="unstyled">
        <li data-ng-repeat="task in tasks">
            <span class="controls">
                <a href="" data-ng-click="remove(task)">delete</a>
            </span>
            <span>
             <small>
                {{ task | timesummary }}
             </small>
             <small>{{ task.category }}</small>
             <span class="doing-task">{{ task.description }}</span>
             <a
                class="btn btn-xs btn-default"
                ng-hide="task.done"
                ng-click="finishTask(task)">done</a>
            </span>
		</li>
	</ul>
</section>
