<section data-ng-controller="DoingCtrl" data-ng-init="init()">
    <form
        class="form-inline"
        role="form"
        data-ng-submit="filter()">

      <div class="form-group">
        <input 
            placeholder="since"
            data-ng-model="fromDate"
            type="text"
            class="form-control"
            datepicker-popup="M/d/yyyy"
            show-weeks="false"
            show-button-bar="false" />
      </div>
      
      <div class="form-group">
        <timepicker
            data-ng-model="fromDate"
            meridians="['am', 'pm']"
            ></timepicker>
      </div>
      
      <button type="submit" class="btn btn-default">filter</button>
    </form>

    <form
        name="form"
        class="form-inline"
        role="form"
        novalidate
        data-ng-submit="create()">

        <div class="form-group">
            <input
                type="text"
                ng-model="taskDescription"
                placeholder="new task"
                class="form-control"
                required />
        </div>

        <div class="form-group">
            <category-selector
                categories="categories"
                category="taskCategory"></category-selector>
        </div>
      
        <button type="submit" class="btn btn-default" data-ng-disabled="form.$invalid">create</button>
    </form>

	<ul class="unstyled">
        <li data-ng-repeat="task in tasks">
            <span class="controls">


                <div class="btn-group">
                    <button
                        type="button"
                        class="btn btn-default btn-xs"
                        ng-click="toggleTask(task)">
                        <span
                            class="glyphicon"
                            ng-class="{
                                'glyphicon-play': task.end,
                                'glyphicon-pause': !task.end
                            }"
                            ></span>
                    </button>

                    <button
                        type="button"
                        class="btn btn-default btn-xs dropdown-toggle"
                        data-toggle="dropdown">

                    <span class="caret"></span>
                  </button>

                  <ul class="dropdown-menu" role="menu">
                    <li><a ng-href="#!/doing/{{ task._id }}">edit</a></li>
                    <!-- <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li> -->
                    <li class="divider"></li>
                    <li>
                        <a href="" ng-click="remove(task)">
                            <span class="text-danger bg-danger">
                                <span class="glyphicon glyphicon-remove"></span> delete
                            </span>
                        </a>
                    </li>
                  </ul>
                </div>


            </span>
            <span>
             <small>
                {{ task | timesummary }}
             </small>
             <span class="doing-task">{{ task.description }}</span>
             <small>{{ task.category }}</small>
            </span>
		</li>
	</ul>
</section>
