<section ng-controller="DoneCtrl" ng-init="init()">
    <tabset>
        <tab heading="Chart">
            <form
                class="form-inline"
                role="form"
                ng-submit="find()">

              <div class="form-group">
                <input 
                    placeholder="start"
                    ng-model="startDate"
                    type="text"
                    class="form-control"
                    datepicker-popup="M/d/yyyy"
                    show-weeks="false"
                    show-button-bar="false" />
              </div>
              <div class="form-group">
                <input 
                    placeholder="end"
                    ng-model="endDate"
                    type="text"
                    class="form-control"
                    datepicker-popup="M/d/yyyy"
                    show-weeks="false"
                    show-button-bar="false" />
              </div>
                    
              <button type="submit" class="btn btn-default">filter</button>
            </form>

            <div id="chart-container"></div>

            <button
                ng-click="showList = !showList"
                type="button"
                class="btn btn-default">
              <span
                class="glyphicon" 
                ng-class="{
                    'glyphicon-chevron-down': !showList,
                    'glyphicon-chevron-up': showList
                }"></span> {{ showList ? 'hide' : 'show' }} list
            </button>

            <ul ng-show="showList">
                <li ng-repeat="task in tasks">
                    <span>
                        {{ task.category }}
                        {{ task.description }}
                        {{ task.duration | timespan }}
                    </span>
                </li>
            </ul>
        </tab>
        <tab heading="Review">
            <form
                name="reviewForm"
                class="form-inline"
                novalidate
                ng-submit="findWithSubstring()">
                <div class="form-group">
                    <input
                        class="form-control"
                        placeholder="regex for description"
                        ng-model="searchString"
                        required />
                </div>
                <button
                    type="submit"
                    class="btn btn-default"
                    ng-disabled="reviewForm.$invalid"
                    >find</button>
            </form>
            <input class="form-control" placeholder="new description" ng-model="newDescription">
            {{ newDescription }}
            <button ng-click="doBulkAction()" class="btn btn-default">do bulk action</button>
            <ul>
                <li ng-repeat="task in tasks">
                    <input type="checkbox" value="{{ task._id }}" ng-model="checked[task._id]" /><small>{{ task.start | date : 'M/d HHmm' }}</small> {{ task.category }}: {{ task.description }}
                </li>
            </ul>
        </tab>
        <tab heading="Over Time">
            <form ng-submit="loadHistory()">
                <input type="submit" class="btn btn-default" value="load it up" />
            </form>
            <ul>
                <li ng-repeat="(time, day) in days">
                    {{ time | date }}<br>
                    <div ng-repeat="(category, duration) in day">
                        {{ duration | msToTime }} {{ category }}
                    </div>
                </li>
            </ul>
        </tab>
    </tabset>
</section>
