<section ng-controller="DirectiveCtrl" ng-init="init()">

    <h4>Show the details for each foo in their own directive.</h4>
    <ul>
        <li ng-repeat="f in foos">
            <foo
                the-foo="f"
                rand="rando"
                ></foo>
        </li>
    </ul>

    {{ foos | json }}

    <hr />
    <div super-simple></div>
    <div simple-template-url></div>
    <simple-template-url-element></simple-template-url-element>
    <template-url-with-scope></template-url-with-scope>

    <isolate-scope
        inner-foo="directive's inner-foo"
        outer-foo="directive's outer-foo"
        outer-foo-with-interpolation="from outer scope: {{ foo }}"

        inner-bar="funkyDoodle"
        outer-bar="donkeyTown"
        missing-value-one="iDoNotExist"
        inc-from-outer-scope="outerScopeA + 1 "
        ></isolate-scope>

    outerScopeA: {{ outerScopeA }}
    outerScopeA+: {{ outerScopeA + 1 }}
    <hr />

    <button ng-click="rando('foo')">change foo</button>
    <button ng-click="rando('funkyDoodle')">change funkyDoodle</button>
    <button ng-click="rando('donkeyTown')">change donkeyTown</button>
</section>